body {
    direction: rtl!important;
    overflow-x: hidden!important;
    width: 100%!important;
    background-color: rgb(234, 243, 240)!important;
}

header {
    text-align: center!important;
}

nav.navbar {
    background-color: #17a2b8!important;
}

a.nav-link {
    padding: 1.2em!important;
    font-weight: bold!important;
}

.dropdown-menu {
    background-color: #17a2b8!important;
    min-width: 100px!important;
    text-align: center!important;
    margin-right: 5em!important;
}

.dropdown-item {
    color: rgb(38, 101, 109)!important;
    font-weight: bold!important;
}

.dropdown-item :hover {
    font-weight: bold!important;
    background-color: rgb(38, 101, 109)!important;
    border-radius: 0.5em!important;
}

li a:hover {
    border-radius: 1em!important;
    background-color: rgb(38, 101, 109);
}

img {
    width: 110px!important;
    height: 60px!important;
    border-radius: 0.5em;
}

.img2 {
    float: left!important;
    width: 50px!important;
    height: 50px!important;
    margin-right: 90%!important;
}

main {
    margin-bottom: 10em;
    padding: 2em!important;
}

h1 {
    margin-bottom: 0.5em!important;
    font-weight: bold!important;
    text-align: center;
    color: rgb(48, 65, 156)!important;
    text-shadow: 2px 2px 4px #000000;
}

.img-fluid {
    width: 700px!important;
    height: 200px!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.card-text {
    width: 100%!important;
    margin-top: 2em!important;
    text-align: center!important;
    font-weight: bold!important;
}

.table-responsive-xl {
    font-weight: normal!important;
    margin-top: 3em!important;
    text-align: center!important;
}

.table {
    font-weight: normal!important;
}

.btn {
    text-align: center!important;
    margin-top: 4px!important;
}

dl, ol, ul {
    margin-bottom: 0rem!important;
}

.page-footer {
    display: block;
    background-color: #17a2b8;
    color: white;
    font-weight: normal;
    text-align: center;
    padding-bottom: 0.3em!important;
    left: 0!important;
    bottom: 0!important;
    width: 100%!important;
}

.hr-primary {
    margin-top: 0.5em!important;
    background-color: #17a2b8!important;
    height: 1px!important;
    border-radius: 3em!important;
    width: 15%!important;
}