html {
	height: 100%!important;
	width: 100%!important;
}

body {
	display: block!important;
	width: 100%!important;
	height: 100%!important;
}

.mb-1 {
	margin: auto!important;
	font-weight: bold!important;
	font-style: italic!important;
	color: #8f7a70!important;
}

header {
	position: fixed!important;
	left: 0!important;
	top: 0!important;
	width: 100%!important;
}

a.nav-link {
	font-weight: bold!important;
	font-size: 17px!important;
}

a#name.dropdown-item {
	font-size: 17px!important;
}

a#Logout.dropdown-item {
	font-size: 17px!important;
}

.jumbotron {
	background: -webkit-linear-gradient(left, #8a8881, #f1dfa1)!important;
	font-style: italic!important;
	text-anchor: black!important;
	text-align: center!important;
	width: 100%!important;
	height: 100%!important;
	font-weight: bold!important;
	display: block!important;
	text-anchor: black!important;
	text-align: center!important;
	margin: auto!important;
	padding-right: 0!important;
	padding-left: 0!important;
}

h1#welcomeM.display-3 {
	font-weight: normal!important;
	font-style: italic!important;
	font-size: 40px!important;
}

a#Logout {
	font-weight: bold!important;
	color: black!important;
}

a.btn {
	border-radius: 10px!important;
	font-weight: bold!important;
	color: black
}

p {
	font-size: 18px!important;
}

p#best {
	font-size:20px!important;
	color: brown;
}

.fram {
	border-radius: 8px !important;
	box-shadow: 60px !important;
	background-color: rgba(255, 255, 255, 0.747) !important;
	margin-left: 20% !important;
	margin-right: 20% !important;
	margin-top: 11% !important;
}